@media screen and (max-width: 991px) {
    /* Top Header */
    .top-header .email-address {
        justify-content: center;
    }
    .top-header .call {
        justify-content: center;
    }
    .top-header .top-header-social ul {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    /* About */
    .about .about-img {
        height: 450px;
    }
    .services .w-100 {
        width: 80% !important;
    }

    /* Intro */
    .intro h6,
    .intro h1 {
        text-align: center;
    }
    .intro-btn {
        width: 40%;
        transform: translateX(-85%);
    }
    .intro::after {
        right: -80px;
        width: 60%;
    }

    /* Service */
    .service .service-img {
        height: 650px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 640px) {
    /* Hero Wrap */
    .hero-wrap .hero-wrap-content::after {
        width: 60%;
    }
    .hero-wrap-content .mt-5 .w-25 {
        width: 35% !important;
    }
    .hero-wrap-content .fs-1 {
        font-size: calc(1.2rem + 1.5vw)!important;
    }
    .hero-wrap-content .mt-5 .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    /* Intro */
    .intro-btn {
        width: 55%;
        transform: translateX(-52%);
    }
}

@media screen and (max-width: 470px) {
    /* Hero Wrap */
    .hero-wrap .hero-wrap-content::after {
        width: 80%;
    }
    .hero-wrap-content .fs-1 {
        font-size: calc(1.1rem + 1.5vw)!important;
    }
    .hero-wrap-content .py-5 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    .hero-wrap-content .mt-5 .py-3 {
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
    }

    /* Intro */
    .intro-btn {
        width: 60%;
        transform: translateX(-45%);
    }
}

@media screen and (max-width: 450px) {
    /* Hero Wrap */
    .hero-wrap .hero-wrap-content::after {
        width: 80%;
    }

    /* Intro */
    .intro-btn {
        width: 70%;
        transform: translateX(-32%);
    }
}